name: Flutter-iOS-Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      # خطوة حاسمة: تثبيت مكتبات الأيفون (Pods)
      - name: Install CocoaPods
        run: |
          cd ios
          pod install || (pod repo update && pod install)
          cd ..

      - name: Build iOS
        run: flutter build ios --release --no-codesign
