name: Flutter-iOS-Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Clean and Build iOS
        run: |
          flutter clean
          flutter pub get
          cd ios
          # مسح الملفات المؤقتة القديمة في السيرفر لضمان عدم تكرار الخطأ
          rm -rf Pods
          rm -rf Podfile.lock
          # تثبيت المكتبات مع تحديث المستودعات
          pod install --repo-update
          cd ..
          # البناء مع تفعيل خيار الـ Header المفقود برمجياً
          flutter build ios --release --no-codesign
